<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <!--suppress HtmlRequiredTitleElement -->
    <head th:fragment="head(title, style, links, scripts)">
        <meta charset="UTF-8"/>
        <title th:replace="${title}"></title>

        <link rel="shortcut icon" th:href="@{/favicon.jpg}"/>
        <link rel="stylesheet" th:href="@{/css/public.css}">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
        <link rel="stylesheet" th:href="@{/layui/css/modules/layer/default/layer.css}">
        <th:block th:replace="${links}"/>

        <style th:replace="${style}"></style>
        <style>
            li {
                list-style: unset;
            }
        </style>

        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
        <script type="text/javascript" th:src="@{/layui/lay/modules/layer.js}"></script>
        <th:block th:replace="${scripts}"/>
    </head>

    <header th:fragment="header">
        <div class="content">
            <a th:href="@{/}" class="logo">FallenAngel</a>
            <nav>
                <ul id="header-menu" class="layui-nav" style="background-color: #ffffff">
                    <li class="layui-nav-item"><a th:href="@{/}" title="首页">首页</a></li>
                    <li class="layui-nav-item"><a th:href="@{/article}" title="写文档">写文档</a></li>
                    <li class="layui-nav-item"><a th:href="@{/special}" title="专栏">专栏</a></li>
                    <li class="layui-nav-item"><a th:href="@{/archive}" title="归档">归档</a></li>
                    <li class="layui-nav-item"><a th:href="@{/message}" title="留言">留言</a></li>
                    <li class="layui-nav-item"><a th:href="@{/about}" title="关于">关于</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <footer th:fragment="footer">
        <p>© 坠天使的博客 2021</p>
    </footer>

    <script th:fragment="header_js" type="text/javascript">
        $(function () {
            let path = location.pathname;
            let curTab = $("#header-menu").find(`a[href="${path}"]`);
            curTab.parent().addClass("layui-this");
        })
    </script>

    <script th:fragment="common_js" type="text/javascript">
        layui.use(['element'])
    </script>
</html>