<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons/common :: head(~{::title}, ~{}, ~{::link}, ~{::src})">
        <title>文档-坠天使-个人博客</title>

        <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}">

        <script th:fragment="src" type="text/javascript" th:src="@{/editormd/editormd.js}"></script>
    </head>
    <body>
        <header th:replace="commons/common :: header"></header>

        <!-- container start -->
        <div class="container">
            <!-- content start -->
            <div class="content" style="width: 80%;">
                <!-- main start -->
                <div class="main">
                    <form id="form-article" class="layui-form" th:action="@{/article/newArticle}" method="post">
                        <div class="layui-form-item">
                            <label>
                                <input type="text" name="title" placeholder="文章标题（5~30个字）" autocomplete="off"
                                       class="layui-input layui-input-inline layext-text-tool" maxlength="30"
                                       style="width: 30%; margin-right: 23px">
                            </label>
                            <label>
                                <input type="text" name="description" placeholder="文章概述（5~55个字）" autocomplete="off"
                                       class="layui-input layui-input-inline layext-text-tool" maxlength="55"
                                       style="width: 53%; margin-right: 23px">
                            </label>
                            <button id="btn-save" class="layui-btn layui-btn-radius layui-btn-primary" type="button">
                                保存草稿
                            </button>
                            <button id="btn-publish" class="layui-btn layui-btn-radius layui-btn-normal" type="button"
                                    style="margin-right: 0">
                                发布文章
                            </button>
                        </div>
                        <div id="editor"></div>
                    </form>
                </div><!-- main end -->
            </div><!-- content end -->
        </div><!-- container end -->

        <footer th:replace="commons/common :: footer"></footer>

        <script type="text/javascript">
            $(function () {
                editormd("editor", {
                    height: "680px",
                    placeholder: "请开始你的表演~",

                    emoji: true,
                    tocm: true,

                    imageUpload: true,
                    imageUploadURL: "uploader/image",

                    toolbarIconsClass: {
                        "first-line-indent": "fa-long-arrow-right"
                    },
                    toolbarHandlers: {
                        "first-line-indent": function (cm) {
                            cm.replaceSelection("&emsp;&emsp;");
                        }
                    },
                    toolbarIcons: function () {
                        return [
                            "undo", "redo", "|",
                            "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                            "h1", "h2", "h3", "h4", "h5", "h6", "|",
                            "first-line-indent", "|",
                            "list-ul", "list-ol", "hr", "|",
                            "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                            "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                            "help", "info"
                        ];
                    },
                    lang: {
                        toolbar: {
                            "first-line-indent": "插入两个中文空格"
                        }
                    },
                    path: "editormd/lib/"
                });

                layui.config({base: 'layui/lay/extends/'}).extend({textool: 'textool'}).use(['textool'], function () {
                    let $ = layui.$, textool = layui.textool;
                    textool.init({
                        // 工具条是否位于输入框内部，默认位于外部
                        inner: true,
                        // 工具按钮提示类型，默认为 'title' 属性，可选 'laytips'，使用 layer 组件的吸附提示， 其他值不显示提示
                        tipType: 'laytips',
                        // 对齐方向，默认右对齐，可选左对齐 'left'
                        align: 'left',
                        // 启用指定工具模块，默认依次为字数统计、复制内容、重置内容、清空内容，按数组顺序显示
                        tools: ['count', 'clear']
                    });
                });

                $("#btn-save").click(function () {
                    submit(false);
                });

                $("#btn-publish").click(function () {
                    submit(true);
                });
            });

            /**
             * 提交文章
             *
             * @param {boolean} isPublish 是否在提交文章时直接发布
             */
            function submit(isPublish) {
                let article = $("#editor").children("textarea[name='editor-markdown-doc']").val().trim();
                let title = $(":input[name='title']").val().trim();
                let description = $(":input[name='description']").val().trim();

                if (!checkStringLength(title, 5, 30)) {
                    layer.msg("<span style='color: red'>文章标题</span>的长度应在5~30在之间，请检查！", {
                        offset: "35%",
                        icon: 2,
                        anim: 6
                    });
                    return;
                }

                if (!checkStringLength(description, 5, 55)) {
                    layer.msg("<span style='color: red'>文章概要</span>的长度应在5~55在之间，请检查！", {
                        offset: "35%",
                        icon: 2,
                        anim: 6
                    });
                    return;
                }

                if (!checkStringLength(article, 0, 10000)) {
                    layer.msg("<span style='color: red'>文章内容</span>的长度应在0~10000在之间，请检查！", {
                        offset: "35%",
                        icon: 2,
                        anim: 6
                    });
                    return;
                }

                let articleData = $("#form-article").serializeArray();
                let articleJSON = "{";

                articleData.forEach(function (value) {
                    articleJSON += `"${value.name}": "${encodeURIComponent(value.value)}", `;
                });
                articleJSON += `"published": ${isPublish}}`;

                $.ajax("article/newArticle", {
                    type: "post",
                    contentType: "application/json",
                    data: articleJSON,
                    dataType: "json",

                    success: function (msg) {
                        if (msg.code === 200) {
                            location.href = "/";
                        }
                    }
                });
            }

            /**
             * 检测字符串长度是否符合要求
             *
             * @param {string} content 要检测的字符串
             * @param {number} min 最小长度
             * @param {number} max 最大长度
             * @returns {boolean}
             */
            function checkStringLength(content, min, max) {
                let length = content.length;

                return length >= min && length <= max;
            }
        </script>

        <script th:replace="commons/common :: header_js"></script>

        <script th:replace="commons/common :: common_js"></script>
    </body>
</html>