<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons/common :: head(~{::title}, ~{}, ~{}, ~{})">
        <title>关于-坠天使-个人博客</title>
    </head>
    <body>
        <header th:replace="commons/common :: header"></header>

        <!-- container start -->
        <div class="container">
            <!-- content start -->
            <div class="content">
                这里是有关我的一些简介、规划、目标之类的东西，暂时不知道写啥
            </div><!-- content end -->
        </div><!-- container end -->

        <footer th:replace="commons/common :: footer"></footer>

        <script th:replace="commons/common :: header_js"></script>

        <script th:replace="commons/common :: common_js"></script>
    </body>
</html>