<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons/common :: head(~{::title}, ~{}, ~{}, ~{})">
        <title>归档-坠天使-个人博客</title>
    </head>
    <body>
        <header th:replace="commons/common :: header"></header>

        <!-- container start -->
        <div class="container">
            <!-- content start -->
            <div class="content">
                <ul class="layui-timeline">
                    <!-- 每一年 -->
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis" style="padding-top: 7px">&#xe602;</i>
                        <div class="layui-timeline-content">
                            <div class="layui-timeline-title" style="font-size: 30px">2022</div>
                            <!-- 以天为单位的每一篇文章 -->
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                        </div>
                    </li>
                    <!-- 每一年 -->
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis" style="padding-top: 7px">&#xe602;</i>
                        <div class="layui-timeline-content">
                            <div class="layui-timeline-title" style="font-size: 30px">2021</div>
                            <!-- 以天为单位的每一篇文章 -->
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-20</h3>
                                <p style="display: inline-block">暂时还没有博客，先把静态样式写出来</p>
                            </div>
                            <div class="layui-timeline-content layui-text"
                                 style="display: flex; align-items: center">
                                <h3 style="display: inline-block; margin-right: 15px">02-19</h3>
                                <p style="display: inline-block">我的博客跑起来了</p>
                            </div>
                        </div>
                    </li>
                    <!-- 博客的起始 -->
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">一切的起始</div>
                        </div>
                    </li>
                </ul>
            </div><!-- content end -->
        </div><!-- container end -->

        <footer th:replace="commons/common :: footer"></footer>

        <script th:replace="commons/common :: header_js"></script>

        <script th:replace="commons/common :: common_js"></script>
    </body>
</html>