<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>富文本编辑器</title>

        <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}">

        <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/editormd/editormd.js}"></script>
    </head>
    <body>
        <form th:action="@{/editor/submit}" method="post">
            <div id="editor"></div>
            <button id="upload-editor-btn" type="submit">保存</button>
        </form>

        <script type="text/javascript">
            $(function () {
                let editor = editormd("editor", {
                    width: "100%",
                    height: "400px",

                    placeholder: "请开始你的表演～～",

                    imageUpload: true,
                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp"],
                    imageUploadURL: "",

                    path: "editormd/lib/"
                });
            })
        </script>
    </body>
</html>