<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="commons/common :: head(~{::title}, ~{::style}, ~{}, ~{})">
        <title>首页-坠天使-个人博客</title>

        <style>
            .main {
                width: 71%;
            }

            .aside {
                width: 27%;
                float: right;
            }
        </style>
    </head>
    <body>
        <header th:replace="commons/common :: header"></header>

        <!-- container start -->
        <div class="container">
            <!-- content start -->
            <div class="content">
                <!-- main start -->
                <div class="main">
                    <div class="list" style="height: 680px">
                        <article th:each="article:${articles}">
                            <h1>
                                <a class="title" href="javascript:void(0)" th:text="${article.title}">
                                    博客标题
                                </a>
                            </h1>
                            <p class="description" th:text="${article.description}">
                                博客概要
                            </p>
                            <p>
                                <a href="javascript:void(0)" style="font-size: 8pt"><span>➥</span>Read More</a>
                            </p>
                            <p class="date">
                                <time th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd HH:mm:ss')}">
                                    2021-02-20 16:35:00
                                </time>
                                <span>评论(0)</span>
                            </p>
                        </article>
                    </div>
                    <div id="article-page" style="margin-top: 10px"></div>
                </div><!-- main end -->

                <!-- aside start -->
                <aside class="aside">
                    <div class="about layui-text" style="margin-bottom: 20px">
                        <h2 style="font-weight: normal">About FallenAngel</h2>
                        <hr>
                        <article>
                            <p style="margin-bottom: 10px">Java Programmer，Java 开发工程师</p>
                            <p>
                                我的目标是成为一名Java 开发工程师，完成以前接触编程时定下的第二目标。
                            </p>
                            <p>为什么不是第一？因为第一目标是手机游戏【选择编程语言时百度对比的结果是Java，看到C++就能睡着】，却在工作时最终发现游戏永远绕不开C++。</p>
                            <p>专注后端技术，喜欢写代码(有点强迫症)，擅长逻辑分析。</p>
                            <p>
                                于是很合乎情理的，审美方面的天负从来达不到0，所以...这个网站就长现在这个样子了(参考了
                                <a href="https://www.xiabingbao.com/" target="_blank">蚊子的前端博客</a>
                                )。
                            </p>
                            <p>坚持学习最新的技术，努力跟上最前沿的开发理念。</p>
                            <p><a th:href="@{/about}"><span>➥</span>More</a></p>
                        </article>
                    </div>
                    <div class="link layui-text">
                        <h2>My Links</h2>
                        <hr>
                        <article>
                            <ul>
                                <li>
                                    <a href="https://github.com/ClearPlume" target="_blank" title="My Github"><span>GitHub</span></a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </aside><!-- aside end -->
            </div><!-- content end -->
        </div><!-- container end -->

        <footer th:replace="commons/common :: footer"></footer>

        <script type="text/javascript">
            $(function () {
                layui.use(['element', 'laypage', 'layer'], function () {
                    let laypage = layui.laypage;

                    laypage.render({
                        elem: 'article-page',
                        count: Number("[[${articleCount}]]"),
                        limit: 8,
                        curr: Number("[[${page}]]"),

                        jump: function (obj, first) {
                            if (!first) {
                                location.href = `/${obj.curr}`;
                            }
                        }
                    });
                });
            })
        </script>

        <script th:replace="commons/common :: header_js"></script>
    </body>
</html>