<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>首页-坠天使-个人博客</title>

        <link rel="shortcut icon" th:href="@{/favicon.jpg}"/>
        <link rel="stylesheet" th:href="@{/css/public.css}">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}">

        <script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
    </head>
    <body>
        <header>
            <div class="content">
                <a th:href="@{/}" class="logo">FallenAngel</a>
                <nav>
                    <ul>
                        <li><a th:href="@{/}" title="首页">首页</a></li>
                        <li><a th:href="@{/}" title="归档">归档</a></li>
                        <li><a th:href="@{/}" title="标签">标签</a></li>
                        <li><a th:href="@{/}" title="关于">关于</a></li>
                        <li><a th:href="@{/}" title="留言">留言</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="content">
                <div class="main">
                    <div class="list">
                    </div>
                    <div class="page">
                    </div>
                </div>
                <aside class="aside">
                    <div class="about">
                        <h4 class="aside-about-tit">About FallenAngel</h4>
                        <article class="aside-about-art">
                            <p>Java Programmer，Java 开发工程师</p>
                            <p>目标是成为一名Java 开发工程师，完成以前选择的目标。</p>
                            <p>专注后端技术，关注优美的代码，擅长逻辑分析。</p>
                            <p>但并不擅长美术相关，所以...这个网站就长这样了。</p>
                            <p>坚持学习最新的技术，学习最前沿的开发理念。</p>
                        </article>
                        <p class="v-more-right">
                            <a href="/about.html"><span>➥</span>More</a>
                        </p>
                    </div>
                    <div class="link">
                        <h4 class="v-section-tit">My Links</h4>
                        <article class="attent-det">
                            <ul>
                                <li><a href="https://github.com/wenzi0github" target="_blank" title="my github"><span>GitHub</span></a>
                                </li>
                            </ul>
                        </article>
                    </div>
                </aside>
            </div>
        </div>
        <footer>
            <p>© 坠天使的博客 2021</p>
        </footer>

        <script type="text/javascript">
        </script>
    </body>
</html>